
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

body {
  background-color: hsla(170, 99%, 33%);
  min-height: 100vh;
  font-size: 1.2em;
}

html, body {
  height: 100%;
  margin: 20px;
  overflow: auto; /* Enable scrolling if content overflows */
}

  body::before {
    content: "";
    position: absolute; /* Position relative to the body */
    inset: 0;
    background-image: url(Cameras.JPG); /* Background image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed; /* Fix the image during scroll */
    opacity: 0.7; /* Adjust opacity for transparency */
    background-color: hsla(170, 99%, 33%);
    z-index: 0; /* Place behind the header content */
  }

  body * {
    position: relative; /* Ensure header content is above the ::before pseudo-element */
    z-index: 1;
  }

 .circle-image {
  margin-top: 5px;
    border-radius: 50%;
    border: 0;
    object-fit: cover; /*Keeps image from stretching*/
    width: 160px;
    height: 160px;
 }

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

table {
    border: 3px solid rgb(3, 3, 3);
    border-collapse: collapse;
    background-color: hsla(170, 99%, 33%, 0.9); /* Semi-transparent background */
    width: 50%;
    color: rgb(250, 247, 247); /* black text color */
    font-family: Papyrus;
    font-size: 1em;
  }

  th, td {
    border: 2px solid black;
    padding: 4px;
  }

caption {
    font-size: 1em;
    margin: 10px;
    font-weight: bold;
    color: white;
  }


  h1 {
    position: relative;
    top: 0;
    font-size: 4em;
    font-family: Brush Script MT; 
    text-align: center;
    text-shadow: 2px 2px 5px rgb(157, 156, 156);
    background-color: hsla(170, 99%, 33%, 0.8);
    color: rgb(4, 3, 3);
    margin: 20px;
  }

  h2 {
    position: relative;
    text-decoration: underline ;
    color: white;
    font-size: 1.5em;
    font-family: Papyrus;
  }

p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-shadow: #ffffff 5px 4 4px; /* Subtle shadow for better readability */
    background-color: hsla(170, 99%, 33%);
    height: 40px;
    color: white;
    font-size: 1em;
    font-family: Papyrus;
    padding: 20px;
}

 #list-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    z-index: 3;
  }

  #side-image {
    width: 350px;
    
    right: 0;
    z-index: 3;
  }

  #project-list {
    background-color: hsla(170, 99%, 33%, 1.0);
    width: 80%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: Papyrus;
    font-size: 1em;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    z-index: 2;
  }

h4 {
    font-size: 1.2em;
    font-family: Papyrus;
    color: rgb(255, 0, 0);
  }

  form {
    position: relative;
    margin-top: 5px;
    background-color: hsla(170, 99%, 33%, 0.8); /* Semi-transparent background */
    padding: 5px;
    border: 5px;
    border-radius: 2px;
    height: auto;
    width: 360px;
    margin: 0 auto; /* Center the form */
    color: black; /* black text color */
    font-size: .7em;
  }

  fieldset {
    border: 2px solid black;
    padding: 1px;
    margin-bottom: 1px;
    align-content: center;
  }

  legend {
    font-weight: bold;
    font-size: 1em;
    color: rgb(255, 0, 0);
  }

  label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
    color: rgb(255, 0, 0);
  }

  input[type="text"],
  input[type="email"],
  textarea {
    
    width: 100%;
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 2px;
    cursor: crosshair;
  }
